.profile{
  margin: 74px auto 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__header {
  margin: 0;
  margin-bottom: calc(123px - 17px);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
}

.profile__info-block {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: min-content, 1fr;
  width: 410px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__info-block:last-of-type {
  border: none;
  padding: 0;
}

.profile__info-key {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__info-input {
  grid-column: 2;
  display: flex;
  text-align: end;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  background: none;
  border: none;
}

.profile__info-input-err {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  color: #FF4062;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__edit-error {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  color: #FF4062;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__edit-success {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: #40ff56;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__edit-btn {
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background: none;
}

.profile__logout-btn {
  margin: 0;
  margin-top: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF4062;
  border: none;
  background: none;
}

.profile-form__submit-box {
  margin: 0;
  margin-top: 200px;
}

@media screen and (max-width: 1279px) {
  .profile{
    margin: 236px auto 269px;
  }

  .profile__header {
    margin-bottom: calc(96px - 17px);
  }
  
  .profile-form__submit-box {
    margin-top: 190px;
  }
}

@media screen and (max-width: 767px) {

  .profile{
    margin: 70px auto 40px;
  }

  .profile__info-block {
    width: 260px;
  }

  .profile-form__submit-box {
    margin-top: 360px;
  }

  .profile__edit-btn {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout-btn {
    font-size: 12px;
    line-height: 15px;
  }
}