.main-block {
  margin: 0 auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__section-title {
  font-size: 22px;
  line-height: 27px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 70px;
  display: flex;
  align-self: start;
}

.main__section-title-underline {
  min-height: 1px;
  width: 1140px;
  background-color: black;
}

@media screen and (max-width: 1279px) {

  .main__section-title {
    margin-left: 50px;
  }
  .main__section-title-underline {
    width: 86.979%;
  }
}

@media screen and (max-width: 767px) {
  .main__section-title-underline {
    width: 88.75%;
  }

  .main__section-title {
    margin-left: 5.625%;
    font-size: 18px;
    line-height: 22px;
  }
}