.movies-card-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: min-content;
  gap: 30px 24px;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    grid-template-columns: 300px;
    gap: 16px;
  }
  
}