.movies-card-list {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: min-content;
  gap: 30px 24px;
}

.movies-card-list__more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  width: 320px;
  height: 36px;
  background: none;
  border: none;
  border: 2px solid  #E8E8E8;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border-radius: 3px;
}

.movies-card-list__more-btn_hidden {
  display: none;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    grid-template-columns: 300px;
    gap: 16px;
  }
  
  .movies-card-list__more-btn {
    width: 240px;
  }
}