.saved-movies {
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1140px;
  align-self: center;
}

@media screen and (max-width: 1279px) {
  .saved-movies {
    grid-template-columns: 708px;
  }
}

@media screen and (max-width: 767px) {
  .saved-movies {
    grid-template-columns: 300px;
  }
}