.header{
  margin: 0 auto;
  background-color: #F3C1F8;
  width: 100%;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_type_white { 
  background-color: white;
}

.header__content {
  display: flex;
  position: relative;
  width: 1140px;
  margin: 18px 30px;
}

.header__logo {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1279px) {
  .header__content {
    width: calc(100% - 7.8125%);
  }
}

@media screen and (max-width: 767px) {

  .header__content {
    width: calc(100% - 6.25%);
    margin: 14px 18px;
  }
}