.app {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 74px auto 172px;
  position: relative;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .app {
    grid-template-rows: 74px auto 243px;
  }
  
}