.promo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #F3C1F8;
  min-height: 524px;

  background-position: center;
  background-image: url("../../../images/prakticum_logo_landing.svg");
  background-repeat: no-repeat;

}

.promo__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  
  max-width: 730px;
  max-height: 116px;
}